/* Buttons
******************************************************************************/

.btn-primary {
  background-color: $color-button-primary-background;
  border: 1px solid transparent !important;
  border-color: $color-button-primary-border;
  border-radius: 3px;
  box-shadow: none;
  color: $color-button-primary-text;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  padding: 7px 15px !important;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  white-space: nowrap;
  margin: 10px 0;

  &:hover {
    background-color: $color-button-primary-hover-background;
    cursor: pointer;
  }
}
