/* Variables
******************************************************************************/

$dark-blue: #092c66;
$social-facebook: #4c69ba;

$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$color-button-primary-text: #f1f5ff;
$color-button-primary-background: #16264d;
$color-button-primary-border: #000000;
$color-button-primary-hover-background: #05112f;

$color-error-message-text-border: #2d0400;
$color-error-message-text-background: #fb5341;

$color-habit-div-complete-background: #d6d6d6;
$color-habit-button-complete-font: #0dcb03;
